
 * {
 	margin: 0;
 	padding: 0;
 	font-family: "Segoe Print Regular";
 }

 .main {
 	width: 100%;
 	height: 300vh;
 	background: linear-gradient(to bottom, indianred, darkgoldenrod);
 	position: relative;
 	overflow: hidden;
 }

 h3 { 
 	font-family: 'Montserrat';
 }

 nav {
 	width: 99.99%;
 	position: sticky;
 	margin: 0;
 	z-index: 1;
 	display: flex;
 	align-items: center;
 	background: floralwhite;
 }

 .logo {
 	margin: 5px auto;
 	position: sticky;
 	left: 10px;
}

.logo img {
	max-height: 60px;
}

 .nav-links {
	flex:  1;
	text-align: right;
}


a {
	padding: 15px;
	color: #000000;
	text-decoration: none;
	text-underline-position: none;
	border-spacing: 5px;
}

a:hover {
	color: #5aa5a5;
	transition-duration: 0.5s;
}

.title {
	margin: 90px auto;
	width: 100%;
	align-content: center;
	font-family: "Segoe UI Semilight";
}

.title h1 {
	text-align: center;
	font-style: normal;
	font-family: 'Montserrat';
	font-size: 60px;
}

.container {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.firstChild {
	max-width: 33.3%;
	float: left;
	max-height: 300px;
	padding: 20px;
	text-align: center;
}


.firstChild img {
	max-width: 100%;
	max-height: 300px;
}

.secondChild {
	max-width: 33.3%;
	float: left;
	max-height: 300px;
	padding: 20px;
	text-align: center;
}

.secondChild img {
	max-width: 100%;
	max-height: 300px;
}

.thirdChild {
	max-width: 33.3%;
	float: left;
	max-height: 300px;
	padding: 20px;
	text-align: center;
}


.thirdChild img {
	max-width: 100%;
	max-height: 300px;
}

.footer {
	background-color: white;
	width: 100%;
	height: 250px;
	position: absolute;
	bottom: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.footerChild1 {
	width: 30%;
	float: left;
	line-height: 35px;
}

.footerChild2 {
	width: 30%;
	float: left;
	line-height: 35px;
}

.footerChild3 {
	width: 30%;
	float: left;
	line-height: 35px;
}


